body {
 overflow-x: hidden;
 padding-bottom: 40px;
  }


.top {
  padding: 2px;
  margin-left: 85px;

}

@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}

.item-front {
  border: inset;
  background-color: black;
  margin-bottom: 10px;
}

.col-md-6 .item-front {

}

.item-front .item-cont {
  background-color: white;
}

.item-bottom {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  align-items: center;
}

.front-contact {
  border-style: outset;
}

.front-contact .head {
  background-color: #f0ad4e;
  padding :5px;
  text-align: center;
}

.form-contact form {
  padding: 20px;
  margin: 10px;
}
