.footer {
  background-color: #000;
  padding: 10px;
}

.banner {
  height: 40vh;
  margin-top : -21px;
}


  .navbar-brand {
      margin: 10px 5px!important;
  }


.navbar-default {
  .navbar-nav {
    li{
      padding: 10px 5px;
      a{
        color : #000;
      }
    }
  }
}

.home-title {
  margin-top: 90px;
  color : #fff;
}

.banner-menus {
  margin:10px;
  span {
    margin:0px;
  }
}


.home-search {
  margin-bottom: -1px;
  background-color: white;
}
